.stateLoad{
  overflow: hidden;
  animation: load 7s linear;
  
}
.readyDownload{
  animation: ready 1s infinite alternate linear ;
}
@keyframes load {
  0%{
    height: 0;
    opacity: .5;
  }
  90%{
    opacity: .7;
  }
  100%{
    opacity: 1;
    height: 100%;
  }
}
@keyframes ready{
  0%{
    opacity: 1;
  }
  100%{
    opacity: .7;
    
  }
}