nav,footer{
    /* background-color:  #58d920 ; */
    background-color:  #d7c811 ;
}
.title{
    line-height: 1.5px;
}
body{
    background: #121f3d;
    margin: 0%;
}
div
.title h3{
text-align: right;
padding-right: 10px;
    color:aliceblue;
    
}
.info, .letra{
    display: flex;
    align-items: center;
    justify-content: center;

}
.card_mp3 nav,.card_lyrics nav{
    border-radius: 13px;
}
.card_mp3 ,.card_lyrics{
    border: aliceblue 2px solid;
    border-radius: 15px;
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer img{
    width: 75%;
    border-radius: 15px;
}
.cont_title{
    display: grid;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 10% 10% 10%;
    line-height: 1;
}
.footer h3{
    grid-column: 2/3;
} 
.footer p{
    grid-column: 3/4;
margin-top: 30px;
}
.footer article{
    grid-column: 4/5;
    margin-top: 10px;
}
.texto_interno{
    color:   #94a0b4 ;
}
input[type="text"]{
font-size: 20px;
}
.footer p:hover{
    color: antiquewhite;
    cursor: pointer;
}